
***no parallel 5ths,
no parallel octaves
no more than octave apart except for bass
no voice crossing
No more than 3 times similar motion (or so)
Don't double the third
Try to double the root
Don't ever double the leading tone
Leading tone should go to Do
Fa usually goes to mi
Bass: F below bass clef to top (A) of bass clef
tenor: F above bass clef to D or C in bass clef
Alto: G below treble clef to D in treble clef
Soprano: Middle C to A above staff
No big weird skips
No tritone leaps



